{% extends "base2.html" %}

{% block menu %}

          <!-- start: Content -->
          <div id="content" class="profile-v1">
             <div class="col-md-12 col-sm-12 profile-v1-wrapper">
                <div class="col-md-9  profile-v1-cover-wrap" style="padding-right:0px;">
                    <div class="profile-v1-pp">
                      <img src="../static/asset/img/avatar.jpg"/>
                      <h2>Akihiko Avaron</h2>
                      <input type="button" class="btn btn-danger" value="follow" />
                    </div>
                    <div class="col-md-12 profile-v1-cover">
                      <img src="../static/asset/img/bg1.jpg" class="img-responsive">
                    </div>
                </div>
             </div>
          
<ul>
    {% for post in object_list %}
        <li>
             <div class="col-md-12 col-sm-12 profile-v1-body">
                <div class="col-md-7">
                   <div class="box-v5 panel">
                  </div>
                    <div class="panel box-v7">
                        <div class="panel-body">

                    </div>
                    <div class="panel box-v7">
                        <div class="panel-body">
                          <div class="col-md-12 padding-0 box-v7-header">
                              <div class="col-md-12 padding-0">
                                  <div class="col-md-10 padding-0">
                                  <img src="../static/asset/img/avatar.jpg" class="box-v7-avatar pull-left" />
                                  <h4>{{ post.user }}</h4>
                                  <p>{{ post.created }}</p>
                                  </div>
                                  <div class="col-md-2 padding-0">
                                  </div>
                              </div>
                          </div>
                         <div class="col-md-12 padding-0 box-v7-body">
                         <h3>{{ post.title }}</h3>
                              <p> {{ post.body }}
                                    <a href="{% url 'blog_apps:post_edit' post.id %}">edit</a>
                                    <a href="{% url 'blog_apps:post_delete' post.id %}">delete</a>
                                    <a href="{% url 'blog_apps:post_new' %}">New</a>
<!--                               <img src="../static/asset/img/bg2.jpg" class="img-thumbnail"/>
 -->
                              </p>
                              <div class="col-md-12 top-20">
                                  <button  class="btn">
                                    <i class="icon-like icons"></i> 2819
                                  </button>
                                  <button class="btn">
                                    <a href="{% url 'blog_apps:commentary_list' %}">Comenta</a>
                                    <i class="icon-bubble icons"></i> 0
                                  </button>
                                  <button class="btn">
                                    <i class="icon-loop icons"></i> 7071
                                  </button>
                              </div>
                          </div>
                          <div class="col-md-12 padding-0 box-v7-comment">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img src="../static/asset/img/avatar.jpg" class="media-object box-v7-avatar"/>
                                  </a>
                                </div>

                                <div class="media-body">
                                  <textarea class="box-v7-commenttextbox" placeholder="write comments..."></textarea>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
             </div>
           
          </div>
      </li>
    {% endfor %}
</ul>
</div>
{% endblock menu %}